<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.game.sdk"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.webkit.permission.PLUGIN" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 照相的权限 -->
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera.autofocus" />

    <!-- 发送,读取短信验证码	可选 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- 录像需要的权限 -->
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <!-- 屏幕方向发生改变 -->
    <!-- <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"></uses-permission> -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.game.sdk.TTWSDKActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.game.sdk.ui.InitActivity"
            android:label="@string/message_quick_login"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize"
            android:theme="@style/CustomSdkTransparent" />
        <activity
            android:name="com.game.sdk.ui.QuickLoginActivity"
            android:label="@string/message_quick_login"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize"
            android:theme="@style/CustomSdkDialog" />
        <activity
            android:name="com.game.sdk.ui.LoginActivity"
            android:label="@string/message_quick_login"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize"
            android:theme="@style/CustomSdkDialog" />
        <activity
            android:name="com.game.sdk.ui.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize"
            android:label="@string/message_quick_login"
            android:theme="@style/CustomSdkDialog" />
        <activity
            android:name="com.game.sdk.ui.ChargeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.game.sdk.ui.UserInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.game.sdk.ui.UserInfoPhoneUpdateActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.game.sdk.ui.CommonInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.game.sdk.ui.ChargeRecordActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.game.sdk.ui.ScoreStoreActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.game.sdk.ui.GamePackageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.game.sdk.ui.GamePackageDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.game.sdk.ui.PayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize"
            android:label="@string/payment_text"
            android:theme="@style/CustomSdkDialog" />
        <activity
            android:name="com.game.sdk.ui.LoginoutActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize"
            android:label="@string/payment_text"
            android:theme="@style/CustomSdkDialog" />

        <service
            android:name="com.game.sdk.service.DownGameBoxService"
            android:enabled="true" >
        </service>
        
        <service
            android:name="com.game.sdk.service.DownOtherApkService"
            android:enabled="true" >
        </service>

        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>

        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <!-- alipay sdk end -->
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.unionpay.uppay.PayActivityEx"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.ipaynow.plugin.inner_plugin.qqpay.activity.QQPayActivity"
            android:exported="true"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="qwallet1104916964" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ipaynow.plugin.activity.PayMethodActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.ipaynow.plugin.inner_plugin.prepay_plugin.activity.PrePayActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.ipaynow.plugin.inner_plugin.prepay_plugin.activity.NotifyActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ipaynow.plugin.inner_plugin.wechatwp.activity.WeChatNotifyActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Dialog" />
		
        <!-- 现在支付 -->
        <activity
            android:name="com.ipaynow.plugin.presenter.PayMethodActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        
        <service android:name="com.game.sdk.TTWAppService" >
            <intent-filter android:priority="1000" >
            </intent-filter>
        </service>

        <!-- 插件入口界面 -->
        <activity
            android:name="com.payeco.android.plugin.PayecoPluginLoadingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 插件拍照界面 -->
        <activity
            android:name="com.payeco.android.plugin.PayecoCameraActivity"
            android:screenOrientation="portrait" />

        <!-- 插件录像界面 -->
        <activity
            android:name="com.payeco.android.plugin.PayecoVedioActivity"
            android:process="com.payeco.android.plugin.vedio"
            android:screenOrientation="portrait" />

        <!-- 百度插件部分 -->
        <!--
        <service
			android:name="com.baidu.location.f"
			android:enabled="true"
			android:process=":remote" >
			<intent-filter>
				<action android:name="com.baidu.location.service_v2.2" >
				</action>
			</intent-filter>
		</service>
        -->


        <!-- meta-data需要写在application中 -->
        <!--
             	<meta-data
			android:name="com.baidu.lbsapi.API_KEY"
			android:value="DhNxS47YIr3CNdocGoAcy1ts" />
        -->
				
        <meta-data
            android:name="FY_APPID"
            android:value="23" />
        <meta-data
            android:name="FY_GAMEID"
            android:value="23" />
        <meta-data
            android:name="FY_AGENT"
            android:value="default" />
    </application>

</manifest>